#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.task-display{
  display: flex;
  margin-top: 20px;
}
.task-display button{
  margin-left: 150px;
}
input{
  width: 200px;
  height: 30px;
  margin-right: 20px;
}